.header
  
  //- CATEGORIES 
  a(href=mainCategoryLink target='_blank') #{mainCategory}
  h2= title

  .share
    amp-social-share(
      type= 'facebook'
      data-param-app_id= '000000000000'
    )
    amp-social-share(
      type= 'twitter'
    )
    amp-social-share(
      type= 'pinterest'
      data-param-media= 'https://ampbyexample.com/img/amp.jpg'
    )
    amp-social-share(
      type= 'email'
    )
  
  h3= `By ${author}`
  h3= publishDate
    
